a {
  text-decoration: none;
  color: #f3f3f3;
}

a:visited {
  color:#f3f3f3;
}

b {
  color:#3c959b;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  margin-top: -100px;
  padding-left: 80px;
  width: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: absolute;
  left: 17%;
  display: flex;
  background-color: #f9f9f9;
  overflow: auto;
  justify-content: flex-end;
  height: 100%;
  padding: 0 30px;

}

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  margin-top: -100px;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 80px;
  margin-top: -100px;
  height: 100vh;
  overflow: auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0;
  letter-spacing: normal;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0;
  letter-spacing: normal;
}

h3 {
  font-family: 'Inconsolata', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1%;
}

h4 {
  font-family: 'Inconsolata', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
  line-height: 1%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  padding-left: 80px;
  margin-top: -100px;
}

.img-circle {
  align-self: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 3px white;
  margin-bottom: 12px;
}

.job {
  padding: 15px 0 25px 0;
}

li {
  display: block;
  padding: 10px;
  justify-content: flex-end;
  text-align: center;
  font-size:13px;
  letter-spacing: 1px;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
}

li :hover {
  font-weight: bold;
}

.sidebar {
  height: 100vh;
  z-index: 1;
  width: 17%;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #4DB1B8;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.nav-ul {
  list-style-type: "none";
  padding: 0;
  text-align: center;
}
